In [1]:
import pandas as pd

user = pd.read_csv("Organized_dataset/cleaned/user_cleaned.csv")
business = pd.read_csv("Organized_dataset/cleaned/business_cleaned.csv")

In [2]:
valid_user = user.user_id
valid_business = business.business_id
print(valid_user.count())
print(valid_business.count())

818922
158525

In [3]:
df = pd.read_csv('Organized_dataset/cleaned/review.csv',sep=',',header=0)

In [9]:
rr = df[(df.business_id.isin(valid_business))&(df.user_id.isin(valid_user))]

In [10]:
rr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4688946 entries, 0 to 6685899
Data columns (total 9 columns):
funny          int64
useful         int64
review_id      object
text           object
business_id    object
stars          float64
date           object
user_id        object
cool           int64
dtypes: float64(1), int64(3), object(5)
memory usage: 357.7+ MB

In [14]:
import datetime
date_after = pd.Timestamp(2015, 1, 1, 0)

In [21]:
temp = rr.loc[:,'date'].astype('datetime64[ns]')

Timestamp('2017-01-14 21:30:33')

In [22]:
rr.loc[:,'date'] = temp

In [23]:
result = rr[pd.to_datetime(rr.date) >= date_after]

In [24]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3148043 entries, 1 to 6685899
Data columns (total 9 columns):
funny          int64
useful         int64
review_id      object
text           object
business_id    object
stars          float64
date           datetime64[ns]
user_id        object
cool           int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 240.2+ MB

In [25]:
result.to_csv("yelp_dataset/review_cleaned.csv",index =False)

In [1]:
import pandas as pd
t = pd.read_csv('yelp_dataset/review_cleaned.csv')

/Users/Jing/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3148044 entries, 0 to 3148043
Data columns (total 9 columns):
funny          object
useful         object
review_id      object
text           object
business_id    object
stars          float64
date           object
user_id        object
cool           float64
dtypes: float64(2), object(7)
memory usage: 216.2+ MB

In [3]:
t.funny.value_counts()

0      2510493
1       357302
2        99764
0        53414
3        41080
4        21594
5        12920
6         8607
1         7597
7         5937
8         4280
9         3223
10        2439
2         2081
11        1936
12        1509
13        1269
14         988
3          930
15         829
16         791
17         619
18         576
19         515
20         478
4          428
21         399
23         350
22         350
24         303
        ...
27           1
62           1
117          1
130          1
134          1
71           1
114          1
149          1
90           1
100          1
159          1
161          1
162          1
89           1
168          1
105          1
172          1
175          1
155          1
176          1
177          1
142          1
182          1
140          1
185          1
187          1
201          1
139          1
135          1
174          1
Name: funny, Length: 220, dtype: int64